{% extends 'base.html' %}

{% block content %}
 <div class="container">
                <div class="row">
                    <div class="col-md-6 mx-auto">
                        <div class="card">
                                <div class="card-header bg-primary text-white">
                                        <h4><i class="fas fa-user-plus"></i>Register </h4>
                                    </div>
                            <div class="card-body">
                                <nav>
                                    <div class="nav nav-tabs" id="nav-tab" role="tablist">
                                        <a class="nav-item nav-link active" id="nav-customer-tab" data-toggle="tab" href="#nav-customer" role="tab" aria-controls="nav-home" aria-selected="true">Customer</a>
                                        <a class="nav-item nav-link" id="nav-shopkeeper-tab" data-toggle="tab" href="#nav-shopkeeper" role="tab" aria-controls="nav-profile" aria-selected="false">Shopkeeper</a>
                                        <a class="nav-item nav-link" id="nav-delivery-tab" data-toggle="tab" href="#nav-delivery" role="tab" aria-controls="nav-contact" aria-selected="false">Delivery</a>
                                    </div>
                                </nav>
                                    <div class="tab-content" id="nav-tabContent">
                                        <div class="tab-pane fade show active" id="nav-customer" role="tabpanel" aria-labelledby="nav-customer-tab">
                                            <!--ALERT-->
                                            {% include '_alerts.html' %}
                                                <form method="POST">
                                                        {% csrf_token %}
                                                    <div class="form-group" hidden>
                                                        <input name="category" type="text" class="form-control" value="customer" required>
                                                    </div>
                                                      <div class="form-group">
                                                        <label for="exampleInputUsername1">Username</label>
                                                        <input name="username" type="text" class="form-control" id="exampleInputUsername1" placeholder="Enter username" required>
                                                      </div>
                                                      <div class="form-group">
                                                        <label for="exampleInputFirstname1">First Name</label>
                                                        <input name="firstname" type="text" class="form-control" id="exampleInputFirstname1" placeholder="Enter firstname" required>
                                                      </div>
                                                        <div class="form-group">
                                                        <label for="exampleInputLastname1">Last Name</label>
                                                        <input name="lastname" type="text" class="form-control" id="exampleInputLastname1" placeholder="Enter lastname" required>
                                                      </div>
                                                        <div class="form-group">
                                                        <label for="exampleInputEmail1">Email address</label>
                                                        <input name="email" type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email" required>
                                                      </div>
                                                        <div class="form-group">
                                                        <label for="exampleInputMobile1">Mobile Number</label>
                                                        <input name="mobile" type="number" class="form-control" id="exampleInputMobile1" placeholder="Enter Mobile No." required>
                                                      </div>
                                                      <div class="form-group">
                                                        <label for="exampleInputPassword11">Password</label>
                                                        <input name="password" type="password" class="form-control" id="exampleInputPassword11" placeholder="Password" required>
                                                      </div>
                                                      <div class="form-group">
                                                        <label for="exampleInputPassword21">Confirm Password</label>
                                                        <input name="password2" type="password" class="form-control" id="exampleInputPassword21" placeholder="Password" required>
                                                      </div>
                                                        <div class="form-group">
                                                        <label for="exampleInputState1">State</label>
                                                        <input name="state" type="text" class="form-control" id="exampleInputState1" placeholder="Enter Your State" required>
                                                      </div>
                                                        <div class="form-group">
                                                        <label for="exampleInputCity1">City</label>
                                                        <input name="city" type="text" class="form-control" id="exampleInputCity1" placeholder="Enter city" required>
                                                      </div>
                                                        <div class="form-group">
                                                        <label for="exampleInputArea1">Area</label>
                                                        <input name="area" type="text" class="form-control" id="exampleInputArea1" placeholder="Enter Area" required>
                                                      </div>
                                                        <div class="form-group">
                                                        <label for="exampleAddress1">Address</label>
                                                        <textarea name="address" class="form-control" id="exampleAddress1" rows="3" required></textarea>
                                                      </div>

                                                      <div class="form-group form-check">
                                                        <input type="checkbox" name="terms" class="form-check-input" id="exampleCheck11">
                                                        <label class="form-check-label" for="exampleCheck1">I accept all <a href="{% url 'terms' %}"> terms and conditions. </a></label>
                                                      </div>
                                                      <button type="submit" class="btn btn-primary">Submit</button>
                                                    </form>
                                        </div>
                                        <div class="tab-pane fade" id="nav-shopkeeper" role="tabpanel" aria-labelledby="nav-shopkeeper-tab">
                                                <form method="POST">
                                                        {% csrf_token %}
                                                    <div class="form-group" hidden>
                                                        <input name="category" type="text" class="form-control" value="shopkeeper" required>
                                                    </div>
                                                      <div class="form-group">
                                                        <label for="exampleInputUsername2">Shop Name</label>
                                                        <input name="username" type="text" class="form-control" id="exampleInputUsername2" placeholder="Enter username" required>
                                                      </div>
                                                      <div class="form-group">
                                                        <label for="exampleInputFirstname2">Shopkeeper First Name</label>
                                                        <input name="firstname" type="text" class="form-control" id="exampleInputFirstname2" placeholder="Enter firstname" required>
                                                      </div>
                                                        <div class="form-group">
                                                        <label for="exampleInputLastname2">Shopkeeper Last Name</label>
                                                        <input name="lastname" type="text" class="form-control" id="exampleInputLastname2" placeholder="Enter lastname" required>
                                                      </div>
                                                        <div class="form-group">
                                                        <label for="exampleInputEmail2">Email address</label>
                                                        <input name="email" type="email" class="form-control" id="exampleInputEmail2" placeholder="Enter email" required>
                                                      </div>
                                                        <div class="form-group">
                                                        <label for="exampleInputMobile2">Mobile Number</label>
                                                        <input name="mobile" type="number" class="form-control" id="exampleInputMobile2" placeholder="Enter Mobile No." required>
                                                      </div>
                                                      <div class="form-group">
                                                        <label for="exampleInputPassword12">Password</label>
                                                        <input name="password" type="password" class="form-control" id="exampleInputPassword12" placeholder="Password" required>
                                                      </div>
                                                      <div class="form-group">
                                                        <label for="exampleInputPassword22">Confirm Password</label>
                                                        <input name="password2" type="password" class="form-control" id="exampleInputPassword22" placeholder="Password" required>
                                                      </div>
                                                        <div class="form-group">
                                                        <label for="exampleInputState2">State</label>
                                                        <input name="state" type="text" class="form-control" id="exampleInputState2" placeholder="Enter Your State" required>
                                                      </div>
                                                        <div class="form-group">
                                                        <label for="exampleInputCity2">City</label>
                                                        <input name="city" type="text" class="form-control" id="exampleInputCity2" placeholder="Enter city" required>
                                                      </div>
                                                        <div class="form-group">
                                                        <label for="exampleInputArea2">Area</label>
                                                        <input name="area" type="text" class="form-control" id="exampleInputArea2" placeholder="Enter Area" required>
                                                      </div>
                                                        <div class="form-group">
                                                        <label for="exampleAddress2">Address</label>
                                                        <textarea name="address" class="form-control" id="exampleAddress2" rows="3" required></textarea>
                                                      </div>

                                                      <div class="form-group form-check">
                                                        <input type="checkbox" name="terms" class="form-check-input" id="exampleCheck12">
                                                        <label class="form-check-label" for="exampleCheck1">I accept all <a href="{% url 'terms' %}"> terms and conditions. </a></label>
                                                      </div>
                                                      <button type="submit" class="btn btn-primary">Submit</button>
                                                    </form>
                                        </div>
                                        <div class="tab-pane fade" id="nav-delivery" role="tabpanel" aria-labelledby="nav-delivery-tab">

                                                <form method="POST">
                                                        {% csrf_token %}
                                                    <div class="form-group" hidden>
                                                        <input name="category" type="text" class="form-control" value="delivery" required>
                                                    </div>
                                                      <div class="form-group">
                                                        <label for="exampleInputUsername">Username</label>
                                                        <input name="username" type="text" class="form-control" id="exampleInputUsername" placeholder="Enter username" required>
                                                      </div>
                                                      <div class="form-group">
                                                        <label for="exampleInputFirstname">First name</label>
                                                        <input name="firstname" type="text" class="form-control" id="exampleInputFirstname" placeholder="Enter firstname" required>
                                                      </div>
                                                        <div class="form-group">
                                                        <label for="exampleInputLastname">Last name</label>
                                                        <input name="lastname" type="text" class="form-control" id="exampleInputLastname" placeholder="Enter lastname" required>
                                                      </div>
                                                        <div class="form-group">
                                                        <label for="exampleInputEmail">Email address</label>
                                                        <input name="email" type="email" class="form-control" id="exampleInputEmail" placeholder="Enter email" required>
                                                      </div>
                                                        <div class="form-group">
                                                        <label for="exampleInputMobile">Mobile Number</label>
                                                        <input name="mobile" type="number" class="form-control" id="exampleInputMobile" placeholder="Enter Mobile No." required>
                                                      </div>
                                                      <div class="form-group">
                                                        <label for="exampleInputPassword1">Password</label>
                                                        <input name="password" type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" required>
                                                      </div>
                                                      <div class="form-group">
                                                        <label for="exampleInputPassword2">Confirm Password</label>
                                                        <input name="password2" type="password" class="form-control" id="exampleInputPassword2" placeholder="Password" required>
                                                      </div>
                                                    <div class="form-group">
                                                        <label for="exampleInputshop">Shop</label>
                                                        <select name="shop" class="form-control" id="exampleInputshop" required>
                                                            <option selected>{{ shop1.username }}</option>
                                                            {% for i in shops %}
                                                                <option>{{ i.username }}</option>
                                                            {% endfor %}
                                                        </select>
                                                      </div>
                                                        <div class="form-group">
                                                        <label for="exampleInputState">State</label>
                                                        <input name="state" type="text" class="form-control" id="exampleInputState" placeholder="Enter Your State" required>
                                                      </div>
                                                        <div class="form-group">
                                                        <label for="exampleInputCity">City</label>
                                                        <input name="city" type="text" class="form-control" id="exampleInputCity" placeholder="Enter city" required>
                                                      </div>
                                                        <div class="form-group">
                                                        <label for="exampleInputArea">Area</label>
                                                        <input name="area" type="text" class="form-control" id="exampleInputArea" placeholder="Enter Area" required>
                                                      </div>
                                                        <div class="form-group">
                                                        <label for="exampleAddress">Address</label>
                                                        <textarea name="address" class="form-control" id="exampleAddress" rows="3" required></textarea>
                                                      </div>

                                                      <div class="form-group form-check">
                                                          <input type="checkbox" name="terms" class="form-check-input" id="exampleCheck1">
                                                          <label class="form-check-label" for="exampleCheck1">I accept all <a href="{% url 'terms' %}"> terms and conditions. </a></label>
                                                      </div>
                                                      <button type="submit" class="btn btn-primary">Submit</button>
                                                    </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
{% endblock content %}