{% extends 'base.html' %}
{% block content %}
{% if empty %}
<h3>No Result found </h3>
{% else %}
<h4>Result for "{{ query }}"</h4>
<hr/>

{% for i in object_list %}
    <table cellpadding="10px">
        <tr>
            <td rowspan="2">
                <img src="{{ i.product_image.url }}" width="150px" height="100px">
            </td>
            <td>
                <h4><a href="{% url 'product-detail' i.id %}">{{ i.product_name }}</a></h4>
            </td>
        </tr>
        <tr>
            <td>
                <b style="color:green">&#8377;{{ i.product_price }}</b>
            </td>
            <td>
                <p>Shop : {{ i.user.username }}</p>
            </td>
        </tr>
    </table>

    <hr />
{% endfor %}
{% endif %}
{% endblock content %}