{% extends 'base.html' %}
{% load static %}
{% block content %}
<div align="center">
    <div align="left" style="width: 70%;">
        <h3 style="color: #7F8C8D">Privacy Policy</h3>
        <img align="right" width="270px" height="150px" src="{% static 'dklogo.png' %}">
        <h4 style="color: #566573; margin-top: 40px">Personal Information</h4>
        <p style="margin-top:20px">This Privacy Policy provides succinctly the manner your data is collected and used by this Site.
            As a visitor to the Site/ Customer you are advised to please read the Privacy Policy carefully.
            By accessing the services provided by the Site you agree to the collection and use of your data
            in the manner provided in this Privacy Policy.</p>
        <hr>
        <h4 style="color: #566573; margin-top: 40px">What information is, or may be, collected form you?</h4>
        <p style="margin-top:20px">
            As part of the registration process on the Site, this site may collect the following personally identifiable
            information about you: including first name and last name, email address, mobile phone number and
            contact details, state , city, address and information about the pages on the site you visit/access,
            the links you click on the site, the number of times you access the page and any such browsing information.
        </p>
        <hr>
        <h4 style="color: #566573; margin-top: 40px">How do we Collect the Information ?</h4>
        <p style="margin-top:20px">
            This site will collect personally identifiable information about you only as part of a voluntary
            registration process, on-line survey or any combination thereof. The Site does not contain links to other
            Web sites. The site is not responsible for the privacy practices of such Web sites which it does not own,
            manage or control.
        </p>
        <h4 style="color: #566573; margin-top: 40px">How is information used ?</h4>
        <p style="margin-top:20px">
            This Site will use your personal information to provide personalized features to you on the Site and to provide
            for promotional offers to you through the Site and other channels. This site will also provide this information
            to its business associates and partners to get in touch with you when necessary to provide the services
            requested by you. This site will use this information to preserve transaction history as governed by existing
            law or policy. Site may also use contact information internally to direct its efforts for product improvement,
            to contact you as a survey respondent, to notify you if you win any contest; and to send you promotional
            materials from its contest sponsors.
        </p>
        <h4 style="color: #566573; margin-top: 40px">Contact Information</h4>
        <p style="margin-top:20px">
            <table width="60%">
                <tr>
                    <td>Neeraj Mirchandani : </td>
                    <td>+91 7879583459</td>
                </tr>
                <tr>
                    <td>Nitin Jethwani : </td>
                    <td>+91 7869098192</td>
                </tr>
                <tr>
                    <td>Rahul Balwani : </td>
                    <td>+91 9926020652</td>
                </tr>
            </table>
        </p>
    </div>
</div>
{% endblock content %}