{% extends 'base.html' %}
{% load static %}
{% block content %}
<div align="center">
    <div align="left" style="width: 70%;">
        <h3 style="color: #7F8C8D">Terms and Conditions</h3>
        <img align="right" width="270px" height="150px" src="{% static 'dklogo.png' %}">
        <h4 style="color: #566573; margin-top: 40px">Personal Information</h4>
        <p style="margin-top:20px">This Privacy Policy provides succinctly the manner your data is collected and used by this Site.
            As a visitor to the Site/ Customer you are advised to please read the Privacy Policy carefully.
            By accessing the services provided by the Site you agree to the collection and use of your data
            in the manner provided in this Privacy Policy.</p>
        <hr>
        <h4 style="color: #566573; margin-top: 40px">Service Overview</h4>
        <p style="margin-top:20px">
            As part of the registration process on the Site, this site may collect the following personally identifiable
            information about you: including first name and last name, email address, mobile phone number and
            contact details, state , city, address and information about the pages on the site you visit/access,
            the links you click on the site, the number of times you access the page and any such browsing information.
        </p>
        <hr>
        <h4 style="color: #566573; margin-top: 40px">Account & Registration Obligations</h4>
        <p style="margin-top:20px">
            All shoppers have to register and login for placing orders on the Site. You have to keep your account and
            registration details current and correct for communications related to your purchases from the site.
            By agreeing to the terms and conditions, the shopper agrees to receive promotional communication and
            newsletters upon registration. The customer can opt out either by unsubscribing in "My Account" or by
            contacting the customer service.
        </p>
        <h4 style="color: #566573; margin-top: 40px">Pricing</h4>
        <p style="margin-top:20px">
            All the products listed on the Site will be sold at MRP unless otherwise specified. The prices mentioned
            at the time of ordering will be the prices charged on the date of the delivery. Although prices of most
            of the products do not fluctuate on a daily basis but some of the commodities and fresh food prices do
            change on a daily basis. In case the prices are higher or lower on the date of delivery not additional
            charges will be collected or refunded as the case may be at the time of the delivery of the order.
        </p>
        <h4 style="color: #566573; margin-top: 40px">You Agree and Confirm</h4>
        <p style="margin-top:20px">
            That in the event that a non-delivery occurs on account of a mistake by you (i.e. wrong name or address or
            any other wrong information) any extra cost incurred by the site for redelivery shall be claimed from you.
            That you will use the services provided by the Site, its affiliates, consultants and contracted companies,
            for lawful
            purposes only and comply with all applicable laws and regulations while using and transacting on the Site.
            You will provide authentic and true information in all instances where such information is requested of you.
            Site reserves the right to confirm and validate the information and other details provided by you at any point
            of time. If upon confirmation your details are found not to be true (wholly or partly), it has the right in
            its sole discretion to reject the registration and debar you from using the Services and / or other
            affiliated websites without prior intimation whatsoever.
            That you are accessing the services available on this Site and transacting at your sole risk and are using
            your best
            and prudent judgment before entering into any transaction through this Site.
            That the address at which delivery of the product ordered by you is to be made will be correct and proper
            in all respects.
            That before placing an order you will check the product description carefully. By placing an order for a product
            you agree to be bound by the conditions of sale included in the item's description.
        </p>
    </div>
</div>
{% endblock content %}